// TYPOGRAPHY
$SERIF_STACK: 'Literata', serif;
// $SCALE_FACTOR: 0.9;
$SCALE_FACTOR: 1;
$font-size-extra-small: 12px * $SCALE_FACTOR;
$font-size-small: 14px * $SCALE_FACTOR;
$font-size-body: 16px * $SCALE_FACTOR;
$font-size-medium: 22px * $SCALE_FACTOR;
$font-size-h2: 32px * $SCALE_FACTOR;
$font-size-h1: 54px * $SCALE_FACTOR;

// COLORS
// ==> E-INK
$black: rgb(34, 31, 32); //#221F20
$white: rgb(245, 244, 238); //#F5F4EE
$grey: rgb(224, 222, 215); // #DFDDD6
$transparent-grey: rgba(224, 222, 215, 0.95);
// ==> RGB
$red: rgb(255, 0, 0);
$green: rgb(0, 255, 0);
$blue: rgb(0, 0, 255);
$true-black: rgb(0, 0, 0);
$true-white: rgb(255, 255, 255);
$rgb-grey: rgb(201, 201, 201);

// MISC
$border-style: 1px solid $black;
$border-style-inverted: 1px solid $white;
$transition: cubic-bezier(0.23, 1, 0.32, 1);
$one-third: calc(100% / 3);
$two-third: calc((100% / 3) * 2);
$HEADER_HEIGHT: 440px;
$LOGO_WIDTH: 220px;
$SIDEBAR_HEIGHT: 660px;
$button-padding: 8px 12px;

// SPACING
$extra-small-margin: 15px;
$small-margin: 20px;
$vertical-space: 20px;

// RESPONSIVE
$breakpoints: (
  "phone-small": (
    max-width: 600px
  ),
  "phone": (
    max-width: 700px
  ),
  "small": (
    max-width: 900px
  ),
  "large": (
    max-width: 1600px
  ),
  "short": (
    max-height: 700px
  ),
);

/// Responsive manager.
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin screen-size($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);
  @if $raw-query {
    $query: if(type-of($raw-query) == "string", unquote($raw-query), inspect($raw-query));
    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. ' + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

@mixin hide-scroll {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
